#game-board {
    --cell-size: 15vmin;
    --cell-gap: 1vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell {
    background-color: #444;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    font-size: 7.5vmin;
    background-color: hsl(200, 60%, var(--bg-lightness));
    color: hsl(20, 25%, var(--text-lightness));
    animation: show 200ms;
    transition: 100ms;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

@media screen 
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #game-board {
        --cell-size: 20vmin;
        --cell-gap: 2vmin;
        border-radius: 2vmin;
    }
    
    .cell {
        border-radius: 2vmin;
    }
    
    .tile {
        border-radius: 2vmin;
        font-size: 10vmin;
    }
}